blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-SQLAlchemy
Flask-Cors
Flask-Admin
idna
itsdangerous
Jinja2
MarkupSafe
python-dotenv
requests
urllib3
Werkzeug

# Additional useful packages
Flask-Login
Flask-Migrate
Flask-WTF
WTForms
Flask-Mail
Flask-Bcrypt
Flask-Session
Flask-RESTful
Flask-JWT-Extended
Flask-Marshmallow
marshmallow
marshmallow-sqlalchemy
gunicorn
pytest
python-dateutil
pytz