
/* Main Content */
.patient-main-content {
    padding: 30px;

}

/* Card Grid */
.patient-card-grid {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-wrap: wrap;
}

/* Card */
.patient-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 180px;
    height: 150px;
    background-color: #fff;
    color: #333;
    transition: 0.3s ease;
}

.patient-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Icon container */
.patient-card-icon {
    margin: 0 auto 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image (small, no crop) */
.patientimg {
    width: 85px;
    height: 85px;
    object-fit:fill;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;

}